#projects {
  width: 100%;
  margin: 0;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      position: relative;
    }
  }
  tbody {
    width: 100%;
    tr {
      position: relative;
      td {
        button {
          position: relative;
          border-radius: 10px;
          background-color: #7cbfdf;
          color: white;
          font-weight: 600;
        }
        button:hover {
          border: 2px solid #7cbfdf;
          background-color: transparent;
          color: #7cbfdf;
        }
        p {
          font-size: 0.8rem;
          margin: 0;
        }
      }
    }
    .description {
      position: relative;
      overflow: hidden;
      width: 120vh;
      transition: all 1s ease;
      p {
        width: 100%;
      }
      button {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
  }
}
