#projects {
  width: 100%;
  margin: 0;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      position: relative;
    }
  }
  .headers {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 1px;
    margin: 0;
    font-weight: 700;
    .col-1,
    .col-2,
    .col-3 {
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding: 0.5rem 1rem;
    }
  }
  .project {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 1px;
    margin: 0;
    .col-1,
    .col-2,
    .col-3 {
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding: 0.5rem 1rem;
      position: relative;
      p {
        margin: 0;
      }
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: #7cbfdf;
        color: white;
        font-size: 700;
        padding: 0.5rem 1rem;
      }
      button:hover {
        background-color: transparent;
        color: #7cbfdf;
        border: 2px solid #7cbfdf;
      }
    }
  }
  .project-info {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 1px;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    .info {
      margin: 1rem;
    }
  }
}
