#login {
  border-radius: 5px;
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5%;
  overflow: hidden;
  transition: margin-left 0.5s ease;
  background-color: white;
  padding: 2rem;
  .close {
    position: relative;
    right: 0;
  }
  form {
    margin-top: 1rem;
    .form-group {
      label {
        font-size: 1.4rem;
      }
      input {
        background-color: transparent;
      }
      .form-check {
        display: flex;
        align-items: baseline;
        label {
          font-size: 0.8rem !important;
        }
      }
    }
    button {
      background-color: #69a7ce;
      color: white;
    }
  }
}
