#home {
  .info-box {
    width: 100%;
    margin: 0;
  }
  table {
    width: 100%;
    table-layout: fixed;
    tr {
      width: 100%;
      border: 1px solid black;
    }
  }
  .modal-dialog {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
